link(href="/css/footer.css" rel="stylesheet" type="text/css")
footer
  .footer-wrapper
    p © Pye
    p Designed and Developed by 
      a(href="#") PD

    p.account
      a(href="https://github.com/pyeprog") 
        i.fab.fa-github
      a(href="https://mp.weixin.qq.com/s?src=11&timestamp=1517556832&ver=673&signature=DIqsK3BwXZc6rkkt*x8ZOb5waKvBeA2AUDula3hGJIz*-1DdhWVilmy-lCkIjon6U0gjyTDkK9inKVBeWNsNgw9r5WXSlcP8sFo4CEmAoLrjbKh8ZoqETZn1LVmUn-dq&new=1") 
        i.fab.fa-weixin
  br
