link( href="/css/header.css" rel="stylesheet" type="text/css")
header
  nav.nav-wrapper
    .logo
      a(href="/")
        img#logo-img(src="/img/logo.png")
        h1 Pye

    - 
      var menu = {
        "Articles" : "/article/all",
        "About me" : "/article/all"
      }
    ul
      each ml, mn in menu
        li.menu-item
          a(href=ml)= mn
