link(rel="stylesheet", href="css/header.css", type="text/css")
header
  nav.nav-wrapper
    .logo
      a(href="#")
        img#logo-img(src="img/logo.png")
        h1 Pye

    - var menu = ["About me", "Articles", "My work"]
    ul
      each mi in menu
        li.menu-item
          a(href="#")= mi
