doctype html
html
  head
    include bundle/html5Meta.pug
    title PYE
    link(href="/img/logo.png" rel="icon" type="image/png")
    link(href="/css/body.css" rel="stylesheet" type="text/css")
    script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" defer)

  body
    include bundle/header.pug

    block main-block

    include bundle/footer.pug
